<p id="notice"><%= notice %></p>

<h1><%= t 'listing_patients'  %></h1>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading ">
    <h3 class="panel-title"><%= t 'patients_list' %></h3>
  </div>

  <div class="panel panel-body">
    <!-- Table -->
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= t 'mr' %></th>
        <th><%= t 'full_name' %></th>
        <th><%= t 'age' %></th>
        <th><%= t 'gender' %></th>
        <th><%= t 'status' %></th>
        <th><%= t 'location' %></th>
        <th><%= t 'viewed_count' %></th>
        <th colspan="3"><%= t 'actions' %></th>
      </tr>
      </thead>

      <tbody>
      <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.mr %></td>
            <td><%= patient.full_name %></td>
            <td><%= patient.age %></td>
            <td><%= t("#{patient.gender.downcase}") %></td>
            <td><%= t("#{patient.status.downcase}")%></td>
            <td><%= patient.location.name %></td>
            <td><%= patient.viewed_count.value %></td>
            <td><%= link_to t('show'), patient %></td>
            <td><%= link_to t('edit'), edit_patient_path(patient) %></td>
            <td><%= link_to t('destroy'), patient, method: :delete, data: {confirm: t('confirm')} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to t('new_patient'), new_patient_path %>
